.alert {
  width: fit-content;
  min-height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 30px;

  &[data-type="success"] {
    background: var(--success);
    color: var(--white);
  }

  &[data-type="info"] {
    background: var(--info);
    color: var(--white);
  }

  &[data-type="error"] {
    background: var(--danger);
    color: var(--white);
  }

  &-times {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
