@import './variables';

@for $font_size from 8 through 30 {
  .text-#{$font_size} {
    @include fontSize($font_size);
  }
}

.secondary {
  color: var(--secondary);
}

.secondary-light {
  color: var(--secondary-light);
}

.secondary-dark {
  color: var(--secondary-dark);
}

.primary {
  color: var(--primary);
}

.primary-light {
  color: var(--primary-light);
}

.primary-dark {
  color: var(--primary-dark);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.grey {
  color: var(--white);
}

.danger {
  color: var(--danger);
}

.info {
  color: var(--info);
}

.success {
  color: var(--success);
}


ul:focus, li:focus, a:focus {
  outline: none;
  color: var(--primary)
}

p, a, h1, h2, h3, h4, h5, h6, li {
  transition: all 0.2s ease;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

a {
  position: relative;
  display: inline-block;
  width: fit-content;
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: var(--primary);
  }

  &[data-active="true"] {
    color: var(--primary);
  }

  &[data-underlined="true"]:before {
    content: close-quote;
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
  }

  &[data-active="true"]:before {
    border-top: 2px solid var(--primary);
  }

  &[data-underlined="true"]:hover:before {
    border-top: 2px solid var(--primary);
  }
}

ul {
  list-style: circle;

  &[data-selection="true"] > li:hover {
    cursor: pointer;
    color: var(--primary);
  }
}

ol {
  list-style: decimal-leading-zero;

  &[data-selection="true"] > li:hover {
    cursor: pointer;
    color: var(--primary);
  }
}

nav {
  & > ul {
    width: fit-content;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 -1rem;

    & > li {
      margin: 0 1rem
    }
  }

  &[data-direction="vertical"] {
    & > ul {
      flex-direction: column;
      align-items: flex-start;
      margin: -1rem 0 1.5rem;

      & > li {
        margin: 1rem 0;
      }
    }
  }
}

label {
  display: block;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &[data-required="true"]::after {
    content: "*";
    position: absolute;
    top: 0;
    right: -7px;
    color: var(--danger);
  }
}

b {
}

em {
  color: var(--secondary-dark);
}

i {
}

small {
}

strong {
  color: var(--primary);
}

sub {
}

sup {
}

ins {
}

del {
}

mark {
  color: var(--white);
  background-color: black;
  display: inline-block;
  padding: 0 1rem;
}
