@import "static/assets/styles/variables";

.list {
  display: flex;
  flex-wrap: wrap;
  min-height: calculateRem(400);
  padding: 1rem 0 0;
  margin-bottom: 4rem;

  &-item {

  }

  &-empty {
    margin: 0 auto;
  }
}
