@import "static/assets/styles/variables";

.pagination {
  margin: 0 auto;
  width: fit-content;

  &-list {
    display: flex;
    align-items: center;
    margin: 0 -0.1rem;

    &-item {
      width: calculateRem(30);
      height: calculateRem(30);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary);
      color: var(--white);
      border-radius: 4px;
      margin: 0 0.1rem;
      cursor: pointer;
      transition: transform 0.3s ease, background 0.2s ease;
      will-change: transform, background;

      &:focus {
        outline: none;
        color: var(--white);
      }

      &[data-active='true'], &:hover {
        outline: none;
        transform: scale(1.1);
        background: var(--black);
        color: var(--white);
      }
    }
  }
}
