@import "static/assets/styles/variables";

.select {
  width: 100%;
  position: relative;
  @include disabled($background: false, $opacity: true, $pointerEvents: true);

  &-input {
    position: relative;

    &-inner {
      width: 100%;
      position: relative;
      border-radius: 4px;
      border: 2px solid var(--grey);
      padding: 0.5rem 1rem;
      transition: all 0.2s ease;
      color: var(--black);
      cursor: pointer;

      &[data-cursor='false'] {
        text-shadow: 0 0 0 var(--black);
        color: transparent;
      }

      &:hover, &:active, &:focus {
        outline: none;
        border-color: var(--secondary-dark);
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 2.75rem;
    right: 1rem;
    width: 0.625rem;
    height: 0.375rem;
    transition: all 0.2s ease;
    will-change: transform, rotate;

    path {
      transition: all 0.2s ease;
      will-change: fill;
      fill: black;
    }

    &[data-active="true"] {
      transform: rotate(180deg);
    }
  }
}
