@import 'static/assets/styles/variables.scss';

.button {
  display: block;
  min-width: 35px;
  height: 44px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease, opacity 0.1s ease;
  cursor: pointer;
  user-select: none;
  font-size: 0.75rem;
  will-change: background, opacity, border, color;

  &:active, &:focus {
    opacity: 0.6;
  }

  &[data-centered='true'] {
    margin: 0 auto;
    align-self: center;
  }

  @include disabled($background: true, $opacity: true, $pointerEvents: true);

  @include breakpoint_max('mobile') {
    height: 32px;
    padding: 7px 0 5px;
  }
}

// Button types

@mixin primary_button($width) {
  width: 100%;
  max-width: $width;
  color: #fff;
  background-color: var(--primary);
  border: 2px solid var(--primary);

  &:hover {
    background-color: var(--secondary-dark);
    border: 2px solid var(--secondary-dark);
  }

  &:active {
    background-color: var(--black);
    border: 2px solid var(--black);
  }
}

@mixin secondary_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--primary);
  background-color: transparent;
  border: 2px solid var(--primary);

  &:hover {
    background-color: var(--secondary);
    border: 2px solid var(--black);
    color: var(--black);
  }

  &:active, &:focus {
    background-color: var(--secondary);
    border: 2px solid var(--black);
    color: var(--black);
  }
}

@mixin danger_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--danger);
  background-color: transparent;
  border: 2px solid var(--danger);

  &:hover, &:active {
    background-color: var(--danger);
    color: var(--white);
  }
}

@mixin sign_in_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--black);

  &:hover, &:active {
    background-color: var(--primary-dark);
    color: var(--white);
    border-color: var(--primary-dark);
  }
}

@mixin sign_up_button($width) {
  width: 100%;
  max-width: $width;
  color: var(--black);
  background-color: transparent;
  border: 2px solid var(--secondary-dark);

  &:hover, &:active {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
  }
}

// Button sizes
$buttons_sizes: (
  "lg": 400px,
  "md": 200px,
  "sm": 100px,
);

$buttons_types_sizes: (
  "primary": $buttons_sizes,
  "secondary": $buttons_sizes,
  "danger": $buttons_sizes,
  "sign-in": $buttons_sizes,
  "sign-up": $buttons_sizes,
);

@each $button_type, $button_sizes in $buttons_types_sizes {
  @each $button_size_type, $button_size_value in $button_sizes {
    .button__#{$button_type}-#{$button_size_type} {

      // Button styles application

      @if $button_type == "primary" {
        @include primary_button($button_size_value);
      }

      @if $button_type == "secondary" {
        @include secondary_button($button_size_value);
      }

      @if $button_type == "danger" {
        @include danger_button($button_size_value);
      }

      @if $button_type == "sign-in" {
        @include sign_in_button($button_size_value);
      }

      @if $button_type == "sign-up" {
        @include sign_up_button($button_size_value);
      }
    }
  }
}
