.table-body {

  &-tr {
    height: 36px;
    cursor: pointer;
    opacity: 1;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
    will-change: transform, background-color;
    background-color: var(--secondary);

    @include disabled($background: false, $opacity: true, $pointerEvents: false);

    &:hover {
      transform: translateY(-5%);
      background-color: var(--secondary-dark);
    }

    td:first-child {
      padding-left: 12px;
    }

    td:last-child {
      padding-right: 12px;

      div {
        margin-right: 0;
      }
    }

    &-td {

      &__inner {
        margin-right: 20px;
      }
    }
  }
}
