.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;

  transition: opacity 0.2s ease;
  will-change: opacity;

  &[data-opened='true'] {
    opacity: 1;

    .modal-content {
      transform: translateY(0);
    }
  }

  &[data-opened='false'] {
    opacity: 0;

    .modal-content {
      transform: translateY(-20%);
    }
  }

  &-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
  }

  &-content {
    width: 60%;
    height: 400px;
    background: #fff;
    z-index: 2;
    border-radius: 10px;
    transform: translateY(-20%);
    transition: all 0.2s ease;
    will-change: transfrom, translateY;

    & > div {
      height: 100%;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-footer {
    margin-top: auto;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
