@import 'static/assets/styles/variables.scss';

.dropdown {
  position: absolute;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  border: 2px solid var(--grey);
  border-top: 0;
  font-size: 0.9rem;
  z-index: 1;
  background: var(--white);
  list-style: none;
  transition: max-height 0.2s ease, opacity 0.3s ease;
  will-change: max-height, opacity;

  & > li {
    padding: 0 1rem 0 calc(1rem + 1px);
    height: 1.875rem; // 30px
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid var(--grey);

    &:hover {
      background: var(--grey);
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &-empty {
    margin: 0.5rem auto;
    width: fit-content;
    display: block;
  }

  &[data-opened="false"] {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }

  &[data-opened="true"] {
    overflow: auto;
    max-height: 194px;
    opacity: 1;

    @include breakpoint_min('tablet') {
      max-height: 138px;
    }

    @include breakpoint_max('tablet') {
      max-height: 112px;
    }
  }
}
